/* global styles */
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Work Sans', sans-serif;
  font-size: 20px;

  background-color: rgb(245, 242, 242);
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Specific styling for .app-body */
.app-body {
  width: 375px;
  height: 812px;
  max-width: 375px;

  margin-top: 20%;
  margin-bottom: 20%;
  
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media query for responsiveness */
@media screen and (max-width: 350px) {
  .app-body {
    width: 100vw;
    max-width: none;
    /* Remove the maximum width for smaller screens */
  }
}