/* OTP screen styles */
.hand-img {
  margin-top: 30%;
  /* Adjust the margin for responsiveness */
}

.heading {
  margin: 0;
  margin-top: 5%;
  /* Adjust the margin for responsiveness */

  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
  /* Adjust font size for larger screens */
  line-height: 1.2;
  text-align: center;

  color: #333333;
}

.number-info {
  margin: 0;
  margin-top: 2%;
  /* Adjust the margin for responsiveness */

  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  /* Adjust font size for larger screens */
  line-height: 1.2;
  text-align: center;

  color: #666666;
}

.number-info span {
  font-style: normal;
  font-weight: normal;
  color: black;
}

.change-number-link {
  margin-top: 1%;

  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em;
  /* Adjust font size for larger screens */
  line-height: 1.2;

  color: #f7b348;
  border-bottom: 1px solid #f7b348;

  cursor: pointer;
}

.resend-link {
  margin: 0;
  margin-top: 4%;
  /* Adjust the margin for responsiveness */

  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em;
  /* Adjust font size for larger screens */
  line-height: 1.2;

  color: #999999;
}

.resend-link span {
  color: #f7b348;
  cursor: pointer;
}

.submit-button {
  width: 80%;
  /* Adjust button width for responsiveness */
  height: 36px;

  background: #f7b348;
  border-radius: 100px;
  border: none;
  margin-top: 5%;
  /* Adjust the margin for responsiveness */

  color: white;

  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .heading {
    font-size: 1.5em;
    /* Adjust font size for medium screens */
  }

  .number-info,
  .change-number-link,
  .resend-link {
    font-size: 1em;
    /* Adjust font size for medium screens */
  }

  .submit-button {
    width: 60%;
    /* Adjust button width for medium screens */
  }
}

@media (max-width: 480px) {
  .hand-img {
    margin-top: 20%;
    /* Adjust the margin for small screens */
  }

  .heading {
    font-size: 1.2em;
    /* Adjust font size for small screens */
  }

  .number-info,
  .change-number-link,
  .resend-link {
    font-size: 0.8em;
    /* Adjust font size for small screens */
  }

  .submit-button {
    width: 50%;
    /* Adjust button width for small screens */
  }
}