.snackbar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff5722;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    transition: transform 0.3s, opacity 0.3s;
}

.snackbar.open {
    display: block;
    transform: translateX(-50%) translateY(-100%);
}

.snackbar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .snackbar {
        width: 90%;
        /* Adjust width for smaller screens */
        max-width: 400px;
        /* Set a max-width for the snackbar */
    }
}

@media screen and (max-width: 480px) {
    .snackbar {
        width: 80%;
        /* Adjust width for even smaller screens */
        max-width: 300px;
        /* Set a smaller max-width */
        padding: 8px 16px;
        /* Reduce padding for smaller screens */
        font-size: 0.8em;
        /* Adjust font size for smaller screens */
    }
}